<app-header></app-header>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="col-md-12">
    <p>
      <b>Kult(u)r</b> est un projet développé par <a href="https://www.linkedin.com/in/s%C3%A9bastien-villain-a457bb59/" target="_blank">Sébastien Villain</a>, passionné par la culture sous toutes ses formes.<br/>
      Désirant mettre en relation les gens autour des principaux domaines culturels que représentent le cinéma, la musique,
      les jeux vidéos et la littérature, le site a pour vocation de vous faire découvrir de nouveaux horizons, en consultant
      les revues de vos proches.<br/>
      Les résultats du module "films" sont fournis par l'API du prestataire <a href="https://www.themoviedb.org/" target="_blank"><img src="../assets/images/tmdbLogo.svg" height="10"></a><br/>
      Les résultats du module "jeux vidéo" sont fournis par l'API du prestataire <a href="https://www.igdb.com/" target="_blank"><img src="../assets/images/igdbLogo.png" height="20"></a>
    </p>
  </div>
</footer>
